#filter {
    /* border-top: 1px lightgrey solid; */
    border-bottom: 1px lightgrey solid;
    padding: 1%;
    text-align: center;
    font-family:'Trispace';
}

#productContainer{
    margin: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 

.card {
    padding-top: 6%;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Trispace';
    color: grey;
}
.card img {
    height: 200px;
}
/* Add quickshop option */
.card:hover {
    opacity: 0.5;
    color: #2055DA;

}

/* Dropdown Menu */
#filter .dropbtn {
    background-color: goldenrod;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: gold;
  }
  
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  /* Add to cart button */
.addToCart {
    background: #2055DA;
    color: white;
    cursor: pointer;
    width: 50%;
    padding: 2%;
    margin: 10% auto;
    font-family: 'Trispace';
    font-style: italic;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    border-radius: 3px;
}
